/*Fuente para el proyecto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/*Estilos Universales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a, p{
    font-size: 20px;
}

/*Estilos del Header*/

header{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #9B59B6 ;
    padding: 45px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

body{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.5fr 3fr 0.5fr;
}

.menu--options{
    flex-grow: 1;
}

.menu--options ul{
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.menu--options ul li{
    margin-right: 20px;
    font-weight: 700;
}

.menu--options ul li::after{
    content: "|";
    font-size: 20px;
    color: #F9E79F;
}


.menu--options ul li a{
    color: #F9E79F ;
    padding-right: 10px;
}

.search--bar{
    flex-grow: 1;
}

.search--bar input{
    outline: none;
    padding-left: 15px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #F9E79F;
}
.fa-magnifying-glass{
    font-size: 30px;
    color: #F9E79F;
}

.menu--login{
    margin-left: auto;
    align-self: center;
}

.menu--login a{
    display: block;
    height: 54px;
    width: 120px;
    text-align: center;
    background-color: #F9E79F;
    color: #9B59B6;
    padding-top: 12px;
    border-radius: 12px;
}







/*Estilos del Footer*/




footer{
    background-color: #C39BD3;
}