/*Estilos del Header para móviles*/

header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "nav login"
    "search search"
    ;
    column-gap: 20px;
    row-gap: 30px;
}

.menu--options{
    grid-area: nav;
}

.search--bar{
    grid-area: search;
    display: flex;
    column-gap: 10px;
}
.search--bar span{
    flex-grow: 1;
    align-self: center;
}

.menu--login{
    grid-area: login;
}

.search--bar input{
    width: 80%;
}



/*Estilos del Footer para móviles*/

footer{
    padding: 20px;
}
.footer--left p{
    text-align: center;
}

.footer--left{
    border-bottom: 3px solid #F4D03F ;
    border-right: 0;
    padding-bottom: 30px;
}

.footer--right{
    padding-top: 30px;
    row-gap: 20px;
}

.element1, .element3, .element5, .element7, .element9{
    display: none;
}

/*Estilos del Main para móviles*/

.main__input form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "text text"
    "icon1 student"
    "input1 input1"
    "icon2 name "
    "input2 input2"
    "button button ";
    column-gap: 10px;
    row-gap: 20px
}

.item1, .item4{
    justify-self: start;
}

.item2, .item5{
    text-transform: uppercase;
}

.item3, .item6{
    width: 95%;
    height: 50px;
    justify-self: end;
}

.item7{
    width: 90%;
    margin-bottom: 20px;

}
main{
    margin-bottom: 100px;
}

.main__statistics{
    padding: 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    " titulo titulo titulo"
    " media mediana moda"
    " result result result"
    ;
}
.statistics__result{
    width: 100%;
    height: 100%;
}

.tittle--statistics{
    line-height: 48px;
}

.statistics__promedio, .statistics__mediana, .statistics__moda{
    flex-direction: column;
    row-gap: 10px;
}

.btn--mediana, .btn--promedio, .btn--moda{
    width: 90%;
}