footer{
    padding: 20px;
}
.footer--left p{
    text-align: center;
}

.footer--left{
    border-bottom: 3px solid #F4D03F ;
    border-right: 0;
    padding-bottom: 30px;
}

.footer--right{
    padding-top: 30px;
    row-gap: 20px;
}

.element1, .element3, .element5, .element7, .element9{
    display: none;
}



