/*Fuente para el proyecto*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/*Estilos Universales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
a, p{
    font-size: 20px;
}

/*Estilos del Header*/

header{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #9B59B6 ;
    padding: 30px 40px 30px 40px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

body{
    width: 100%;
    height: auto;
    display: grid;
}

.menu--options{
    flex-grow: 1;
}

.menu--options ul{
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.menu--options ul li{
    margin-right: 20px;
    font-weight: 700;
}

.menu--options ul li::after{
    content: "|";
    font-size: 20px;
    color: #F9E79F;
}


.menu--options ul li a{
    color: #F9E79F ;
    padding-right: 10px;
}

.search--bar{
    flex-grow: 1;
}

.search--bar input{
    outline: none;
    padding-left: 15px;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #F9E79F;
}
.fa-magnifying-glass{
    font-size: 30px;
    color: #F9E79F;
}

.menu--login{
    margin-left: auto;
    align-self: center;
}

.menu--login a{
    display: block;
    height: 54px;
    width: 120px;
    text-align: center;
    background-color: #F9E79F;
    color: #9B59B6;
    padding-top: 12px;
    border-radius: 12px;
}

/*Estilos del Main*/

main{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: auto;
    min-width: 360px;
    margin-bottom: 80px;
    margin-top: 80px;
    row-gap: 40px;
}

.main__input{
    width: 90%;
    height: auto;
    min-width: 360px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin-bottom: 30px;

    border-bottom: 4px solid #6C3483;
    margin: 0 auto;
    row-gap: 20px;
}

.main__input h1{
    align-self: center;
    font-size: 30px;
    color: #6C3483  ;
    text-align: center;

}
.fa-chalkboard-user{
    margin-left: 10px;
    color: #6C3483  ;
}


.main__input form{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "text text text"
    "icon1 student input1"
    "icon2 name input2"
    "button button button"
    ;
    padding: 20px;
    border: 4px solid #6C3483;
    border-radius: 20px;
    background-color: #FEF9E7;
    gap: 20px;
    justify-self: center;
    margin-bottom: 100px;
}

.item0{
    grid-area: text;
    font-size: 25px;
    color: #9B59B6;
    font-weight: bold;

}
.item1{
    grid-area: icon1;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    color: #6C3483
}
.item2{
    grid-area: student;
    justify-self: start;
    align-self: center;
    font-size: 22px;
    color: #6C3483;
    letter-spacing: 6px;


}
.item3{
    grid-area: input1;
    border: 2px solid #9B59B6;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;

}
.item4{
    grid-area: icon2;
    justify-self: center;
    align-self: center;
    color: #6C3483;
    font-size: 30px;

}
.item5{
    grid-area: name;
    justify-self: start;
    align-self: center;
    font-size: 22px;
    color: #6C3483;
    letter-spacing: 6px;

}
.item6{
    grid-area: input2;
    border: 2px solid #9B59B6;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;
    outline: none;

}
.item7{
    grid-area: button;
    background-color: #9B59B6;
    color: #F9E79F;
    border-radius: 12px;
    text-transform: uppercase;
    height: 54px;
    border: 2px solid #6C3483;
    width: 60%;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    cursor: pointer;
}
.item7:hover, .btn--promedio:hover, .btn--mediana:hover, .btn--moda:hover{
    background-color: #6C3483;
    border: 4px solid #F9E79F;
}


/* Estilos del main - estadísticas */

.main__statistics{
    width: 70%;
    height: auto;
    min-width: 360px;
    margin: 0 auto;
    padding: 30px;
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    " titulo titulo titulo"
    " media result result"
    " mediana result result"
    " moda result result"
    ;
}
.tittle--statistics{
    grid-area: titulo;
}

.statistics__promedio{
    grid-area: media;
}

.statistics__mediana{
    grid-area: mediana;
    position: relative;
}

.statistics__moda{
    grid-area: moda;
}

.statistics__result{
    grid-area: result;
}

.tittle--statistics{
    align-self: center;
    font-size: 30px;
    color: #6C3483  ;
    text-align: center;
}

.statistics__promedio, .statistics__mediana, .statistics__moda{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.btn--promedio, .btn--mediana, .btn--moda{
    background-color: #9B59B6;
    color: #F9E79F;
    border-radius: 12px;
    text-transform: uppercase;
    height: 54px;
    border: 2px solid #6C3483;
    width: 60%;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    cursor: pointer;
}

.fa-question{
    color: #E74C3C;
    font-size: 30px;
    text-shadow: 1px 1px 5px  #F9E79F;
    cursor: pointer;
}
.statistics__result{
    align-self: center;
    justify-self: center;
    display: flex;
    width: 80%;
    height: 50%;
    justify-content: center;
    row-gap: 15px;
    border: 4px solid #6C3483;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 2px 2px 4px 2px  #F9E79F;
}

.statistics__result p, .statistics__result span{

    align-self: center;
    font-size: 30px;
    color: #6C3483  ;
    text-align: center;
}

.inactive{
    display: none;
}

/*Estilos del Footer*/

footer{
    background-color: #9B59B6;
    width: 100%;
    height: auto;
    min-width: 360px;
    display: flex;
    padding: 30px 10px 30px 80px;
    column-gap: 80px;
    align-items: center;
    flex-wrap: wrap;
}

.footer--right{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    row-gap: 40px;
}

.footer--left{
    flex-grow: 1;
    align-self: center;
    border-right: 5px solid #F4D03F ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer--left p{
    color: #F4D03F ;
    font-weight: 700; 
}

.footer--right div{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
    "red1 red2 red3  red4 red5"
    "redicon1 redicon2 redicon3 redicon4 redicon5"
    ;
    row-gap: 10px;
}

.footer--right p{
    align-self: center;
    font-weight: 700; 

}

.follow--me{
    color: #F4D03F ;
}

footer p{
    color: #F4D03F ;
    text-transform: uppercase;
    font-weight: 700; 

}

.element1{
    grid-area: red1;
    justify-self: center;
}

.element2{
    grid-area: redicon1;
    justify-self: center;

}
.element3{
    grid-area: red2;  
    justify-self: center;

}
.element4{
    grid-area: redicon2;
    justify-self: center;

}

.element5{
    grid-area: red3;  
    justify-self: center;

}
.element6{
    grid-area: redicon3;
    justify-self: center;
}

.element7{
    grid-area: red4;  
    justify-self: center;
}

.element8{
    grid-area: redicon4;
    justify-self: center;
}

.element9{
    grid-area: red5;  
    justify-self: center;
}

.element10{
    grid-area: redicon5;
    justify-self: center;
}

.fa-brands{
    color: #F4D03F ;
    font-size: 30px;
}
.inactive{
    display: none;
}

/* Tarjetas */

.statistic--detail{
    width: 280px;
    height: 260px;
    border-radius: 40px;
    border: 4px solid #9B59B6;
    padding: 20px 20px 15px 20px;
    background-color: #FBF0D5;
    position: absolute;
    left: 90%;
    overflow-x:scroll ;
    overscroll-behavior-y:contain;
}
::-webkit-scrollbar {
    display: none;
}

.statistic--detail h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #9B59B6;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #9B59B6;
}

.statistic--detail p{
    color: #9B59B6;
    font-size: 16px;
    padding-bottom: 10px;
    text-align: center;
    line-height: 25px;
}

.statistics__result .result{
    font-weight: bold;
    color: #E74C3C ;
}

