/*Estilos del Header para móviles*/

header{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "nav login"
    "search search"
    ;
    column-gap: 20px;
    row-gap: 30px;
}

.menu--options{
    grid-area: nav;
}

.search--bar{
    grid-area: search;
    display: flex;
    column-gap: 10px;
}
.search--bar span{
    flex-grow: 1;
    align-self: center;
}

.menu--login{
    grid-area: login;
}

.search--bar input{
    width: 80%;
}



/*Estilos del Footer para móviles*/

footer{
    padding: 20px;
}
.footer--left p{
    text-align: center;
}

.footer--left{
    border-bottom: 3px solid #F4D03F ;
    border-right: 0;
    padding-bottom: 30px;
}

.footer--right{
    padding-top: 30px;
    row-gap: 20px;
}

.element1, .element3, .element5, .element7, .element9{
    display: none;
}



